body{
     background-color: #dffbf6f1;
     font-family: "Barlow", sans-serif;
}
h1{
     margin-left: 10px;
}
form textarea{
     height: 200px;
     width: 600px;
     border-radius: 20px;
     border: none;
}
form input{
     height: 30px;
     width: 250px;
     border-radius: 20px;
     border: none;
}
form button{
     height: 40px;
     width: 200px;
     border-radius: 20px;
     border: none;
     background-color: rgb(12, 168, 186);
     color: white;
     font-size: 17px;
     font-weight: 600;
     cursor: pointer;
}