body{
     background: url("\task6.png");
     background-size: cover;
}
button{
     width: 250px;
     height: 70px;
     font-size: 40px;
     border-radius: 20px;
     position: absolute;
     top: 260px;
     left: 150px;
     background-color: #feaec9;
     color:whitesmoke;
     font-family: "Sour Gummy", sans-serif;
     cursor: pointer; 
}
button:hover{
     box-shadow: 5px 5px #56585867;
     transition: 0.5s;
}